extends layout
block title 
    title Les utilisateurs
block h1
    h1 Les utilisateurs
block content
    h3 All users
    each value in users
        ul
            li name: #{value.name}
            li email: #{value.email}
            li username: #{value.username}
            li password: #{value.password}