extends layout
block content
    p New user created
    h3 name: #{user.name} <!-- # (interpolation) permet d'intégrer du code dans mon template-->
    h3 email #{user.email}
    h3 username #{user.username}